### Machine-Specific

[user]
	name = Sander Beekhuis
	email = sander.beekhuis@example.com

### General

[init]
	defaultBranch = main

[alias]
	s = status
	c = commit
	graph = log --oneline --graph --all
	l=log --oneline --max-count=15

[pull]
	ff = only

[commit]
	verbose = true

[push]
	default = current
