### Machine-Specific

[user]
	name = Sander Beekhuis
	email = 16463246+SanderBeekhuis@users.noreply.github.com

### General

[init]
	defaultBranch = main

[alias]
	s = status
	c = commit
	graph = log --oneline --graph --all
	l=log --oneline --max-count=15
	stpull=!git stash && git pull && git stash pop


[pull]
	ff = only

[commit]
	verbose = true

[push]
	default = current # Only push the current branch to update a branch with the same name.
	autoSetupRemote = true # git push will automatically setup the remote branch.

[pager]
	log = false # Do not use pager for git log, but display in main terminal

